html {
    font-size: 17px;
}

.title {
    text-align: center;
    margin: 2.5rem 0px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
}

.list-group-item .badge-dark {
    width: 90px;
    margin-right: 0.25em;
}

.list-group-item .form-control {
    width: unset;
    flex: 1;
}

.list-group-item button {
    margin-left: 20px;
    flex-shrink: 0;
}

.cursor {
  cursor: pointer;
}
