<!doctype html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="renderer" content="webkit">
  <meta name="format-detection" content="telephone=no, email=no" />
  <link href="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css.css">
  <script src="https://dl.ifanr.cn/hydrogen/sdk/sdk-web-latest.js"></script>
  <script src="https://cdn.bootcss.com/vue/2.5.22/vue.js"></script>
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>
  <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
  <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"></script>
  <title>Le Wagon 🇨🇳 WeChat events</title>
</head>
<body>
<div id="root" class="container">
  <h2 class="title">
    Le Wagon 🇨🇳 WeChat events dashboard
  </h2>

  <div class="row">
    <div class="col-sm" v-for="event in eventList">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" :src="event.image">
        <div class="card-body">
          <h5 class="card-title">{{event.name}} ({{event.city}})</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{event.date}}</h6>
          <p class="card-text"><span class="badge badge-light badge-pill cursor" @click="getAttendees(event)">{{event.rsvp}}</span> attendee(s)</p>
        </div>
        <div class="card-footer text-muted">
          <button @click="editEvent(event)" class="btn btn-sm btn-primary">Edit</button>
          <button @click="deleteEvent(event)" class="btn btn-sm btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Login -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Log in</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input v-model="loginForm.email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="请输入邮箱  email">
          </div>
          <div class="form-group">
            <input v-model="loginForm.password" type="password" class="form-control" placeholder="请输入密码 password">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" @click="openRegisterModal" data-dismiss="modal">去注册 Register</button>
          <button type="button" class="btn btn-primary" @click="handleLogin">登录 Login</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Register-->
  <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Register</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input v-model="registerForm.email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="请输入邮箱 email">
          </div>
          <div class="form-group">
            <input v-model="registerForm.password" type="password" class="form-control" placeholder="请输入密码 password">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" @click="openLoginModal" data-dismiss="modal">去登录 Log in</button>
          <button type="button" class="btn btn-primary" @click="handleRegister">注册 Register</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Edit Event -->
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{editForm.name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input v-model="editForm.name" type="text" class="form-control" aria-describedby="name" placeholder="name">
          </div>
          <div class="form-group">
            <input v-model="editForm.date" class="form-control" placeholder="date">
          </div>
          <div class="form-group">
            <input v-model="editForm.address" class="form-control" placeholder="address">
          </div>
          <div class="form-group">
            <input v-model="editForm.city" class="form-control" placeholder="city">
          </div>
          <div class="form-group">
            <select placeholder='driver' v-model="editForm.driver" class="form-control">
              <option v-for="dn in driver_names">{{dn}}</option>
            </select>
          </div>
          <div class="form-group">
            <input v-model="editForm.start_time" class="form-control" placeholder="start time">
          </div>
          <div class="form-group">
            <input v-model="editForm.end_time" class="form-control" placeholder="end time">
          </div>
          <div class="form-row">
            <div class="form-group col-md-8">
             <input v-model="editForm.image" class="form-control" :disabled="!!disabled">
           </div>
           <div class="form-group col-md-4">
            <label for="file" class="custom-file-upload">
              <span class="btn btn-light" @click="disabled = !disabled">Change</span>
              <input type="file" id="file" ref="file" v-on:change="handleUpload()"/>
            </label>
          </div>
        </div>
        <div class="form-group text-monospace text-center small" v-if="image">
          {{image}}
        </div>
        <div class="form-group">
          <textarea name="" id="" cols="30" rows="10" v-model="editForm.description" class="form-control"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <input type="checkbox" id="notify" value="yes" v-model="editForm.notify">
        <label for="notify"> Notify attendees ⚠️</label>
        <button type="button" class="btn btn-primary" @click="handleEdit">Save</button>
      </div>
    </div>
  </div>
  </div>

<!-- Modal Attendees List -->
<div class="modal fade" id="signupsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Attendees</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Phone</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Lead</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="attendee in signUps">
              <th scope="row">{{attendee.phone}}</th>
              <td>{{attendee.real_name}}</td>
              <td>{{attendee.email}}</td>
              <td>{{attendee.lead}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" @click="downloadAttendees">Download attendees</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</div>
<script src="index.js"></script>
</body>
</html>
